body {
  color: #151515;
  background-color: #222;
  font-family: Calibri;
  font-size: 12pt;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

div.main_container {
  margin-top: 20px;
  padding: 10px;
  border: 4px solid cornflowerblue;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EAEAEA;
  text-align: center;
}

.div-back-link {
  text-align: left;
  padding: 5px;
  margin-bottom: 10px;

  a {
    padding: 5px;
    font-weight: bolder;
    color: #337ab7;
    border: 1px solid transparent;
  }

  a:hover {
    text-decoration: none;
    color: purple;
    border: 1px solid pink;
  }
}

div.recipe_list_div {
  width: 98%;
  overflow-x: scroll;
  margin: auto;
}

table.recipe_list {

  th {
    text-align: center;
    background-color: #337ab7;
    color: #DADADA;
  }

  tr.recipe_row {
    margin-top: 5px;
  }

  td {
    vertical-align: text-top;
    padding: 5px;
  }

  td.td_description {
    font-weight: bold;
    min-width: 100px;
    max-width: 200px;
  }

  td.td_category {
    color: darkslateblue;
    text-align: left !important;
    min-width: 50px;
    max-width: 150px;
    overflow: hidden;
  }

  td.td_difficulty {
    min-width: 80px;
    max-width: 100px;
    overflow: hidden;
  }

  td.td_ingredients {
    min-width: 150px;
    max-width: 250px;
    text-align: left !important;
  }

  td.td_directions {
    min-width: 200px;
    max-width: 500px;
    text-align: left !important;
    background-color: beige;

    p {
      margin: auto;
      min-width: 192px;
      max-width: 492px;
      overflow: hidden;
      padding: 4px;
    }
  }

  td.td_notes {
    min-width: 100px;
    max-width: 400px;
    overflow: hidden;
    text-align: left !important;
  }
}

div.recipe-body {
  .div-ingredients {
    float: left;
    width: 30%;
  }

  table.table-ingredient {
    th {
      text-align: center !important;
    }

    td {
      padding: 5px;
    }
  }

  .div-recipe-directions {
    margin-left: 31%;
    text-align: left !important;
    padding: 15px;
    border: 2px solid #337ab7;
  }

  .div-recipe-notes {
    font-size: small;
  }
}

span.span-category {
  padding: 4px;
  margin-right: 5px;
  color: #333 !important;
  background-color: bisque;
}