<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/resources/css/recipeapp.css}"/>
</head>
<body>

<div id="main_container" class="main_container">

    <div class="panel panel-primary recipe_list_div">
        <div class="panel-heading">
            <h1>My Recipes!</h1>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-responsive recipe_list">
                <thead>
                <tr>
                    <th>Description</th>
                    <th>Categories</th>
                    <th>Difficulty</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="recipe_row" th:each="recipe : ${recipes}">
                    <td class="td_description" th:text="${recipe.getDescription()}">Description</td>
                    <td class="td_category">
                        <ul th:each="category : ${recipe.getCategories()}">
                            <li th:text="${category.getDescription()}">Category</li>
                        </ul>
                    </td>
                    <td class="td_difficulty" th:text="${recipe.getDifficulty().name()}">Difficulty</td>
                    <td><a th:href="${'/recipe/' + recipe.getId()}">View...</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>